<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/basejs")
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"> MSO</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">                    
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/help">关于</a></li>
                </ul>
            </nav>
	    </div>    
    </header>

    
    @RenderBody()
    
    <div class="mso-footer">
    <footer class="text-center">
        本站所有内容系自动搜索生成的结果，排列及分类仅为方便使用，本站与内容的出处无关。
    </footer>
    </div>


    <div class="mso-fixbar">
        <div class="pull-right">
            <button class="btn btn-default btn-lg gotop" id="js-gotop"><i class="glyphicon glyphicon-chevron-up"></i></button>
            <div id="js-addact">
                <button class="btn btn-default btn-lg plus"><i class="glyphicon glyphicon-plus"></i></button>
                <div id="mso-sharepanel" class="mso-sharepanel hidden" style="overflow:visible;">
                    <button id="mso_btn_share" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-share"></i> 分享</button>
                    <button id="mso_btn_help" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-eye-open"></i> 帮助</button>
                    <button id="mso_btn_suggest" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-envelope"></i> 建议</button>
                    <div class="bdsharebuttonbox nodisplay" id="mso_panel_baidushare">
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_more" data-cmd="more"></a>
                    </div>
                </div>
            </div>
            <button class="btn btn-default btn-lg gobottom" id="js-gobottom"><i class="glyphicon glyphicon-chevron-down"></i></button>
        </div>
    </div>    
    <div style="display:none;">
    <script type="text/javascript">    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "24" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
    </div>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
